## Exercise 1 
<a id="x1"></a>

You now have all the elements to do meaningful calculations using ndarrays. We will apply this to a simple example. You are asked to calculate the sedimentation rate in a given well. For this, you are provided with an ndarray with two dimensions (i.e., a matrix). The first vector column represents the depth of a stratigraphic marker [**in meters**] below the seafloor. The second column represents the age of the marker in millions of years.

You have two objectives in this exercise:
1. To produce a matrix that shows the sedimentation rate between each marker in **cm/kyr**. Note that the units are different than the units you were given above, so you will need to account for that.
2. I also want to know what the average sedimentation for this site is.

Exercise parameters:
1. You cannot use any type of loops
2. As a hint, you will need to use indexing and slicing. 
3. Keep in mind that you can make several different slices from the original dataset. 
4. In addition, don't lose sight of the fact that a sedimentation rate is calculated *between* two points in a well. So if you have n age points, there will be n-1 sedimentation rates

**Hint**: You may want to look up numpy's documentation to see if there is a simple NumPy function that does what you want. This is an important part of problem-solving in Data Science - the ability to efficiently search documentation to see if there are tools that you can use to make your life easier, rather than coding them yourself!

That said, it *is* possible to complete this exercise without using any new functions!

In [9]:
np.set_printoptions(precision=6, suppress=True) # This prevents numpy from using scientific notation, makes it easier to see sed rates

# The ndarray below represents age in the first row vs burial depth in the second row
import numpy as np

age_vs_depth = np.array([[0.5,2.1,3.0,6.1,9.3,12.4,15.3,16.2,16.3,20.1,40.2,41.3,55.2],
                         [15.0,35.0,100.3,160.3,180.4,220.5,241.2,255.0,258.3,312.1,312.2,320.3,380.1]])

# Using slicing, create two arrays of the same length, except that one array has all elements moved down by 1. 

age1 = age_vs_depth[0, :-1]
age2 = age_vs_depth[0, 1:]

print(f"First array: {age1}")
print(f"Second array: {age2}")

# Find the time elapsed between each data point
age_diff = age2 - age1

# Repeat for depth
depth1 = age_vs_depth[1, :-1]
depth2 = age_vs_depth[1, 1:]

print(f"First array: {depth1}")
print(f"Second array: {depth2}")

depth_diff = depth2 - depth1

# Find sedimentation rate by dividing depth by age. 
# Note that I have adjusted for units in the same line of code:
print(f"Sedimentation rates: {(depth_diff * 100) / (age_diff * 1000)}")

First array: [ 0.5  2.1  3.   6.1  9.3 12.4 15.3 16.2 16.3 20.1 40.2 41.3]
Second array: [ 2.1  3.   6.1  9.3 12.4 15.3 16.2 16.3 20.1 40.2 41.3 55.2]
First array: [ 15.   35.  100.3 160.3 180.4 220.5 241.2 255.  258.3 312.1 312.2 320.3]
Second array: [ 35.  100.3 160.3 180.4 220.5 241.2 255.  258.3 312.1 312.2 320.3 380.1]
Sedimentation rates: [1.25     7.255556 1.935484 0.628125 1.293548 0.713793 1.533333 3.3
 1.415789 0.000498 0.736364 0.430216]

In [10]:
# Using function found in numpy: np.diff
# Go to the numpy documentation to see what this function does!
age_diff = np.diff(age_vs_depth[0])
depth_diff = np.diff(age_vs_depth[1])

# Find sedimentation rate by dividing depth by age. 
# Note that I have adjusted for units in the same line of code:
print(f"Sedimentation rates: {(depth_diff * 100) / (age_diff * 1000)}")

Sedimentation rates: [1.25     7.255556 1.935484 0.628125 1.293548 0.713793 1.533333 3.3
 1.415789 0.000498 0.736364 0.430216]

## Exercise 2 

Reload a fresh version of `geochemistry_df` as we erased it with a `NoneType` before. And create a new dataframe (let's call it `geochemistry_mod_df`) that is a copy of `geochmistry_df` but without the well, core and tool columns. Call this new dataframe `geochemistry_mod_df`.

In [13]:
import pandas as pd

# Note that you will need to redirect the filepath below to wherever YOU have stored this data
geochemistry_df = pd.read_csv('Data/1207_Geochemistry.csv')
geochemistry_mod_df = geochemistry_df.drop(['H','Cor','T'], axis=1)

geochemistry_mod_df

    Leg  Site  Sc  Top(cm)  Depth (mbsf)  CaCO3 (wt %)
0   198  1207   2       65          6.95        69.630
1   198  1207   5       33         11.13        49.314
2   198  1207   1       66         14.96        76.000
3   198  1207   2      126         17.06        55.478
4   198  1207   4       70         19.50        46.981
..  ...   ...  ..      ...           ...           ...
66  198  1207  CC       30        526.80        60.930
67  198  1207   1       60        565.60         0.000
68  198  1207   1       76        565.76         0.000
69  198  1207   1      103        566.03         0.000
70  198  1207   1       52        584.72        64.200

[71 rows x 6 columns]

# Exercise 3

Write a one-line program that outputs a series of boolean (`True` or `False`) that indicates whether the mean of each numeric column in the `geochemistry_df` is >100. **Tip:** You will need to chain operations.

In [14]:
# np.number will automatically select all numeric columns in the `geochemistry_df` dataframe
# Using .mean() without any arguments will find the mean of each column
# Then check each column mean against 100 using a boolean operator
geochemistry_df.select_dtypes(include = np.number).mean() > 100

Leg              True
Site             True
Cor             False
Top(cm)         False
Depth (mbsf)     True
CaCO3 (wt %)    False
dtype: bool

## Exercise 4

In this exercise, you will need to use your skills in data manipulation in Pandas to answer the following simple question:

*What is the average carbonate content of samples from ODP Site 1207 where the gamma ray count is >30?*

You have all of the data you need to answer this question in the two datasets we have uploaded from the files before (`geochemistry_df` and  `ngr_df`). However, they currently are in separate dataframes. The goal of this exercise is also to teach you some new methods, and to do this cleanly using functions. Remember, functions are great because we can reuse the code!

### Guidance:
Do the following:
1. In order to merge the dataset, we will use the `Depth (mbsf)` column in both files as the key for the merge, but rounded to the closest full meter. Why the rounding? Otherwise, you will only have 4 samples with the exact same depth. If we round the values first, we will have more overlap between the two datasets. Check the documentation for the Pandas `.round()` method to learn to use it.
2. Write a simple function that takes a dataframe as an argument, and outputs a copy of this dataframe but with the `Depth (mbsf)` column rounded to the nearest meter. I have given you below the function's signature, i.e. its name and the main argument (`def round_depth(df)`). Replace the `pass` with the code needed for this function. **Bonus**: Can you do this without making changes to the original DataFrame?
3. Write a second function (`merge_by_depth(df1,df2)` below) that takes two dataframes, and returns a new, merged dataframe using the `Depth (mbsf)` column for the merge.
4. Finally, apply the two functions above to merge the `geochemistry_df` and  `ngr_df` dataframes, and calculate the mean value of carbonate content for samples with a `Corr. Counts` larger than 30.

In [22]:
# This simple function returns a copy of the dataframe with rounded values
def round_depth(df):
    # Round the 'Depth (mbsf)' column and reassign it to the original column
    df['Depth (mbsf)']=df['Depth (mbsf)'].round(0)
    return df

# This other simply function returns a merged version of the dataset
def merge_by_depth(df1,df2):
    # There are multiple ways to do this, including concat, etc.
    # This is just one example - refer to the documentation on pd.merge to see what exactly is going on here
    # Pandas documentation is good, and gives you some helpful examples!
    return df1.merge(right=df2, left_on='Depth (mbsf)', right_on='Depth (mbsf)')

ngr_df = pd.read_excel('Data/1207_NGR.xls')
geochemistry_df = pd.read_csv('Data/1207_Geochemistry.csv')

# Round the depth column of your dataframes using your function
ngr_df = round_depth(ngr_df)
geochemistry_df = round_depth(geochemistry_df)

# Merge the two dataframes
merged_df = merge_by_depth(ngr_df, geochemistry_df)

# Display is like print for dataframes - both are about the same
display(merged_df)

# merged_df['Corr. Counts'] > 30 returns a boolean series - use this to subselect from the merged_df dataframe
high_corr_count = merged_df['Corr. Counts'] > 30

# Subselect from the merged_df dataframe, then select the "CaCO3" column, then find the mean of that column
# You can use a display/print statement at each step to understand what each additional bit of code is doing
# E.g., what does "merged_df[high_corr_count]" do? What does "merged_df[high_corr_count]["CaCO3 (wt %)"]" do?
print(f"The mean value of carbonate content for samples with a `Corr. Counts` larger than 30 is {merged_df[high_corr_count]['CaCO3 (wt %)'].mean()}")

# Your answer should be exactly the same as found below.

,Leg_x,Site_x,H_x,Cor_x,T_x,Sc_x,Top(cm)_x,Depth (mbsf),Corr. Counts,Leg_y,Site_y,H_y,Cor_y,T_y,Sc_y,Top(cm)_y,CaCO3 (wt %)
0,198,1207,A,2,H,2,30,7.0,11.18,198,1207,A,2,H,2,65,69.630
1,198,1207,A,2,H,2,60,7.0,10.75,198,1207,A,2,H,2,65,69.630
2,198,1207,A,2,H,2,90,7.0,7.78,198,1207,A,2,H,2,65,69.630
3,198,1207,A,2,H,5,30,11.0,10.28,198,1207,A,2,H,5,33,49.314
4,198,1207,A,2,H,5,60,11.0,16.48,198,1207,A,2,H,5,33,49.314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,198,1207,B,44,R,1,130,566.0,13.58,198,1207,B,44,R,1,76,0.000
244,198,1207,B,44,R,1,130,566.0,13.58,198,1207,B,44,R,1,103,0.000
245,198,1207,B,44,R,1,140,566.0,15.78,198,1207,B,44,R,1,60,0.000
246,198,1207,B,44,R,1,140,566.0,15.78,198,1207,B,44,R,1,76,0.000
247,198,1207,B,44,R,1,140,566.0,15.78,198,1207,B,44,R,1,103,0.000

The mean value of carbonate content for samples with a `Corr. Counts` larger than 30 is 5.03125